$primary-font:    'Roboto Condensed', sans-serif;
$secondary-font:  'Open Sans Condensed', sans-serif;
$other-font: 'Roboto', sans-serif;
$primary-color: #fff;
$weare-color: #030303;
$color2: #e74c3c;
$color3: -moz-linear-gradient(-90deg, red, yellow);
$color4: #d35400;
$color5: #2c3e50;
$color-meta: #7f8c8d;
$color-form: #283891;

h1{
    font-family: $primary-font;
    font-weight: 100;
    color: $primary-color;
    font-size: 4em;
    text-transform: uppercase;
    z-index: 9999;
    }
h2{
   text-transform: uppercase; 
   font-family: $primary-font;
    font-weight: 100;
    color: darken($color5, 3%);
    font-size: 4em;
    text-transform: uppercase;
    z-index: 9999; 
    margin: 0;
    padding-top: 1em;    
}
h3{
    font-family: $other-font;
    font-weight: 500;
    color: $primary-color;
    font-size: 5em;
    text-transform: uppercase;
    z-index: 9999; 
}
h4{
    font-family: $secondary-font;
    font-weight: 100;
    color: $primary-color;
    font-size: 5em;
    text-transform: uppercase;
    z-index: 9999; 
}
p{
    color:$primary-color;
    
}
.copy-hero{
    font-size: 3em;
    font-family: $secondary-font;
}  

hr{
    width: 15em;
    float: left;
    border: 0;
    height: 0;
    border-bottom: 1px solid $color2;

}

span{
    color:$primary-color;
    position: relative;
    z-index: 1;    
}
i{
    color:white;
}

canvas{
    z-index: 99;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



body{
    margin:0px;
    padding:0px;
    width:100%;
    clear: both;


//Section 1 - header with stars

    #brand-bg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/brand_bg.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0px;
        position: relative;
        border: none;

        #logo{
            margin-top: 15em;
        }
    }


//Section 2 - Hero copy

    .we-are{
        background: linear-gradient( #030303,#041726);  
        background-size: cover;
        height: 20em;
        padding:0px;
        margin: 0px;
        padding:20em 0 30em;
        position: relative;
        .row{
              padding-left: 8em;  
            .line-top{
                font-family: $primary-font;
                font-weight: 100;            
                font-size: 3em;                
                padding-top: 5em;
            }
            .line-mid{
                font-family: $primary-font;
                font-weight: 100;            
                font-size: 4em;                
            }
            .line-end{
                font-family: $primary-font;
                font-weight: 100;            
                font-size: 5em;                
            }
            .copy{
                font-family: $secondary-font;
                font-weight: 300;
                font-size: 2em;
                padding-top: 0.5em;
                clear: both;
                display: block;
                float: left;
            }
        }
    }


//Section 3 - Laptop and what we do

    .we-do{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/laptop.jpg");        
        height: 100vh;
        background-size: cover;
        background-position: center;
        margin: 0px;
        padding: 0px;
        position: relative;
        min-height: 850px;
        #title{
            font-family: $primary-font;
            font-weight: 100;
            color: $primary-color;
            font-size: 4em;
            text-transform: uppercase;
            z-index: 9999; 
            margin: 0;
            padding-top: 1.5em;
        }
        .row{
            position: absolute;
            padding-left: 8em;            
            .line-top{
                font-family: $primary-font;
                font-weight: 100;            
                font-size: 3em;                
                margin-top: 15em;                               
            }
            .we-do-hr{
                width: 15em;
                float: left;
                border: 0;
                height: 0;
                border-bottom: 1px solid $color4;                
            }   
        }
    }


//Section 4 - Blog

    .blog{
        background-color: $color5;
        // height: 10em;
        width: 100%;
        float: right; 
        a{
            text-decoration: none;
            color: $primary-color;
            &::hover{
                background: $color4;
            }
        }
        #blog-title{
            float: right;
            margin: 0 auto;
            text-transform: uppercase; 
            font-family: $primary-font;
            font-weight: 100;
            color: darken($color5, 3%);
            font-size: 4em;
            text-transform: uppercase;
            z-index: 9999; 
            margin: 0;
            padding-top: 1em;
            padding-right: 3em;

        }
        .article{
            float: right;
            text-align: right;
            padding-right: 3em; 
            padding-top: 2em;
            width: 100%;
            &:hover{
                background: $color4
            }
            #meta{
                font-family: $secondary-font;
                color: $color-meta;                
            }
            #article-title{
                font-family: $secondary-font;
                font-weight: 100;
            }
                    
        }       
    }


//Section 5 - Contact

    .contact{        
        margin: 0 auto;
        background:  linear-gradient(to right, rgba(192,58,43,1) 0%, rgba(156,89,182,1) 100%);
        min-height: 800px;
        .col-md-6{
            text-align: center;
            padding: 0;
            margin: 0;
            #contact-copy{
                    margin-top: 15em;
                }
            form{
                margin-left: 5em;
                padding-top: 10em;
                padding-bottom: 10em;
                width: 700px;
                min-width: 480px;
                
                input{
                    background: $color-form;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.5em;
                    font-family: $secondary-font;
                    margin-bottom: 2em;
                    height: 4em;
                }
                textarea{
                    background: $color-form;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.5em;
                    font-family: $secondary-font;
                    width: 700px;
                    padding: 10px;
                    height: 400px;
                    min-width: 480px;
                    min-height: 200px;
                }
                .submit{
                    background: $color4;
                    margin-top: 1.5em;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.5em;
                    font-family: $secondary-font;
                    color: white;
                    min-width: 480px;   
                }         
            }
        }  
    }
//Section 6 - Footer
    .footer{
        width: 100%;
        text-align: center;
        .col-md-12{
            background: darken($color5, 10%);;
            min-height: 5em;
        }
    }
}