h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  z-index: 9999;
}

h2 {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  color: #273646;
  font-size: 4em;
  text-transform: uppercase;
  z-index: 9999;
  margin: 0;
  padding-top: 1em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  z-index: 9999;
}

h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  z-index: 9999;
}

p {
  color: #fff;
}

.copy-hero {
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
}

hr {
  width: 15em;
  float: left;
  border: 0;
  height: 0;
  border-bottom: 1px solid #e74c3c;
}

span {
  color: #fff;
  position: relative;
  z-index: 1;
}

i {
  color: white;
}

canvas {
  z-index: 99;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  clear: both;
}
body #brand-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/brand_bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0px;
  position: relative;
  border: none;
}
body #brand-bg #logo {
  margin-top: 15em;
}
body .we-are {
  background: linear-gradient(#030303, #041726);
  background-size: cover;
  height: 20em;
  padding: 0px;
  margin: 0px;
  padding: 20em 0 30em;
  position: relative;
}
body .we-are .row {
  padding-left: 8em;
}
body .we-are .row .line-top {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 3em;
  padding-top: 5em;
}
body .we-are .row .line-mid {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 4em;
}
body .we-are .row .line-end {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 5em;
}
body .we-are .row .copy {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding-top: 0.5em;
  clear: both;
  display: block;
  float: left;
}
body .we-do {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/laptop.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 850px;
}
body .we-do #title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  z-index: 9999;
  margin: 0;
  padding-top: 1.5em;
}
body .we-do .row {
  position: absolute;
  padding-left: 8em;
}
body .we-do .row .line-top {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin-top: 15em;
}
body .we-do .row .we-do-hr {
  width: 15em;
  float: left;
  border: 0;
  height: 0;
  border-bottom: 1px solid #d35400;
}
body .blog {
  background-color: #2c3e50;
  width: 100%;
  float: right;
}
body .blog a {
  text-decoration: none;
  color: #fff;
}
body .blog a::hover {
  background: #d35400;
}
body .blog #blog-title {
  float: right;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  color: #273646;
  font-size: 4em;
  text-transform: uppercase;
  z-index: 9999;
  margin: 0;
  padding-top: 1em;
  padding-right: 3em;
}
body .blog .article {
  float: right;
  text-align: right;
  padding-right: 3em;
  padding-top: 2em;
  width: 100%;
}
body .blog .article:hover {
  background: #d35400;
}
body .blog .article #meta {
  font-family: "Open Sans Condensed", sans-serif;
  color: #7f8c8d;
}
body .blog .article #article-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
}
body .contact {
  margin: 0 auto;
  background: linear-gradient(to right, #c03a2b 0%, #9c59b6 100%);
  min-height: 800px;
}
body .contact .col-md-6 {
  text-align: center;
  padding: 0;
  margin: 0;
}
body .contact .col-md-6 #contact-copy {
  margin-top: 15em;
}
body .contact .col-md-6 form {
  margin-left: 5em;
  padding-top: 10em;
  padding-bottom: 10em;
  width: 700px;
  min-width: 480px;
}
body .contact .col-md-6 form input {
  background: #283891;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 2em;
  height: 4em;
}
body .contact .col-md-6 form textarea {
  background: #283891;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  width: 700px;
  padding: 10px;
  height: 400px;
  min-width: 480px;
  min-height: 200px;
}
body .contact .col-md-6 form .submit {
  background: #d35400;
  margin-top: 1.5em;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  min-width: 480px;
}
body .footer {
  width: 100%;
  text-align: center;
}
body .footer .col-md-12 {
  background: #1a242f;
  min-height: 5em;
}

/*# sourceMappingURL=style.css.map */
